<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>WebFront</title>
        <meta charset="utf-8"/>
    </head>
    <body>
        <div>
            
            <p/>
            <h2>Response Received</h2>
            
            <p/>
            <h4>Response Status:</h4>
            <p/>
            <span th:text="${responseStatus}"/>
            
            <p/>
            <h4>Response Body:</h4>
            <p/>
            <span th:text="${responseBody}"/>
            
        </div>
    </body>
</html>
